<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="legates.agendapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PacienteActivity"
            android:label="@string/label_paciente_activity" />
        <activity
            android:name=".AddPacienteActivity"
            android:label="@string/label_add_paciente_activity" />
        <activity
            android:name=".EditPacienteActivity"
            android:label="@string/label_edit_paciente_activity" />
        <activity
            android:name=".ConvenioActivity"
            android:label="@string/label_convenio_activity" />
        <activity
            android:name=".EspecialidadeActivity"
            android:label="@string/label_especialidade_activity" />
        <activity
            android:name=".ConsultaActivity"
            android:label="@string/label_consulta_activity" />
        <activity
            android:name=".MedicoActivity"
            android:label="@string/label_medico_activity" />
        <activity
            android:name=".AddMedicoActivity"
            android:label="@string/label_add_medico_activity" />
        <activity
            android:name=".EditMedicoActivity"
            android:label="@string/label_edit_medico_activity" />
        <activity
            android:name=".AddConvenioActivity"
            android:label="@string/label_add_convenio_activity" />
        <activity
            android:name=".EditConvenioActivity"
            android:label="@string/label_edit_convenio_activity" />
        <activity
            android:name=".AddEspecialidadeActivity"
            android:label="@string/label_add_especialidade_activity" />
        <activity
            android:name=".EditEspecialidadeActivity"
            android:label="@string/label_edit_especialidade_activity" />
        <activity android:name=".AddConsultaActivity" />
        <activity android:name=".MedicoEspecialidadeActivity"></activity>
    </application>

</manifest>